@using MiniCartMvc.Models;
@model IEnumerable<Category>
@{
    var selectedCategory = ViewContext.RouteData.Values["id"]?.ToString();
}
@if (Model != null && Model.Any())
{
    <ul class="list-group">

        <a href="/Home/List" class="list-group-item">
            <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
            All Categories
        </a>

        @foreach (var category in Model)
        {
            if (selectedCategory != null)
            {
                if (category.Id == int.Parse(selectedCategory))
                {
                    <a href="/Home/List/@category.Id" class="list-group-item active">
                        <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                        @category.Name
                    </a>
                }
                else
                {
                    <a href="/Home/List/@category.Id" class="list-group-item">
                        <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                        @category.Name
                    </a>
                }
            }
            else
            {
                <a href="/Home/List/@category.Id" class="list-group-item">
                    <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                    @category.Name
                </a>
            }
        }
    </ul>
}
else
{
    <p>No categories available.</p>
}

