@using MiniCartMvc.ViewModels;
@model List<ProductViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">Welcome to MiniCartMVC!</h1>
        <p class="lead">Discover the joy of shopping with our curated collections and seamless cart management system.</p>
        <hr class="my-4">
        <p>Browse your favorite categories, grab the best deals, and track your orders—all in one place.</p>
        <a class="btn btn-primary btn-lg" href="/Home/List" role="button">Shop Now!</a>
    </div>
</div>

<div class="container pb-5">
    @Html.Partial("_ProductList",Model)
</div>
