@{
    var cart = ViewData["Cart"] as MiniCartMvc.Models.Cart;
}

<style>
    #cart {
        color: white;
    }
</style>


<ul class="navbar-nav my-2 my-lg-0">
    <li id="cart" class="nav-item">
        <a class="nav-link" href="/Carts">
            <i class="fa fa-cart-plus" aria-hidden="true"></i>
            (@cart?.CartLines?.Count)
        </a>

    </li>

    <li class="nav-item">

    </li>
</ul>

