@{
    ViewData["Title"] = "Completed";
}


<div class="container mt-5">
    <div class="col-md-12">
        <h2>We received your order!</h2>
        <h4>Your orders will be shipping as soon as possible!</h4>
    </div>
</div>